@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stickyBg {
    @apply fixed top-0 left-0 right-0 z-40 bg-gray-200 transition-colors ease-in duration-150 py-2;
  }
  .fixedBg {
    @apply absolute top-10 left-0 right-0 z-50 bg-transparent;
  }
  .colorText {
    background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%) !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
  }
}
